In [2]:
import pandas as pd

In [5]:
import os
path = os.getcwd()
print(path)

/home/enzo/Documents/Datathon

In [18]:
df = pd.read_csv('/home/enzo/Documents/Datathon/nmurx_us_19Q1.csv')
gender = df.groupby('DEM_GENDER').sum()
gender

,STATUS,QLANG,DEM_AGE,DEM_POSTAL,DEM_REGION,DEM_INCOME,DEM_HOME,DEM_GENHEALTH,DEM_LIMIT,TOB_LIFE,...,ILLXCAN_YR,ILLXCAN_NTY,ILLXCAN_MNTH,ILLXCAN_WK,ILL_USE,ILL_YR,ILL_NTY,ILL_MNTH,ILL_WK,WT
DEM_GENDER,,,,,,,,,,,,,,,,,,,,,
1,41724,14050,722772,6832902,35938,41604,34343,46469,3846,36163,...,884,671,488,306,6884,3059,2575,2127,1605,1.226871e+08
2,47895,16091,833007,7931559,42230,44727,40482,53812,4253,42811,...,544,368,270,156,6605,2469,1965,1603,1207,1.293767e+08

In [20]:
gender_pain = gender[['STATUS','PAINREL_USE']]
gender_pain

            STATUS  PAINREL_USE
DEM_GENDER
1            41724         8169
2            47895        10122