In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [13]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
import os
path = os.getcwd()

In [4]:
df = pd.read_csv('./US/nmurx_us_19Q1.csv')

train, test = train_test_split(df, test_size=0.2)

In [12]:
train[]

,DATE,STATUS,QLANG,DEM_GENDER,DEM_AGE,DEM_POSTAL,DEM_REGION,DEM_INCOME,DEM_HOME,DEM_GENHEALTH,...,ILLXCAN_YR,ILLXCAN_NTY,ILLXCAN_MNTH,ILLXCAN_WK,ILL_USE,ILL_YR,ILL_NTY,ILL_MNTH,ILL_WK,WT
1489,2019-03-27 12:52:33,3,1,2,60,23,1,5,4,5,...,0,0,0,0,1,1,1,1,0,7375.900937
22041,2019-03-12 04:15:28,3,1,2,57,296,3,2,2,2,...,0,0,0,0,0,0,0,0,0,4819.917439
24883,2019-03-31 16:48:00,3,1,1,71,923,4,2,2,5,...,0,0,0,0,0,0,0,0,0,8419.973992
2571,2019-04-03 11:47:07,3,1,1,28,105,1,5,3,4,...,0,0,0,0,1,0,0,0,0,8301.432466
5992,2019-04-01 06:14:39,3,1,1,63,601,2,5,3,3,...,0,0,0,0,0,0,0,0,0,9043.867973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8014,2019-05-12 00:33:39,3,2,2,31,951,4,4,3,5,...,0,0,0,0,0,0,0,0,0,4651.781616
13857,2019-04-10 19:09:43,3,1,1,35,797,3,1,1,4,...,0,0,0,0,1,1,1,0,0,4383.877938
6588,2019-03-28 15:47:41,3,1,2,55,440,2,2,2,3,...,0,0,0,0,0,0,0,0,0,7907.339676
11315,2019-04-07 10:53:42,3,1,1,59,339,3,3,2,3,...,1,0,0,0,1,1,0,0,0,3189.400632
10205,2019-03-19 23:39:31,3,1,2,40,132,1,2,5,3,...,0,0,0,0,0,0,0,0,0,10269.068597

In [10]:
len(test)

5975

In [11]:
len(df)

29873